header {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
    background-color: cornflowerblue;
   
}
body {
    text-align: center;
}
p {
    font-family: 'Oswald', sans-serif;
    color: navy;
}
a {
    text-decoration: none;
}
a:link {
    color: crimson;
}
a:visited {
    color: blue
}
a:hover {
    color: seagreen;
}
a:active {
    color: orange
}
.name {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), 
  color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), 
  color-stop(0.6, #2f2),color-stop(0.75, #23f), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
video {
    width: 33.33%;
}

